.c-btn {
  background: transparent;
  cursor    : pointer;

  display        : flex;
  flex-flow      : row nowrap;
  justify-content: center;
  align-items    : center;

  padding      : 0.2rem;
  border       : none;
  border-radius: 4px;

  &__icon,
  &__text {
    padding: 0 0.2rem;
  }

  &--ripple {
    background-position: center;
    transition         : background 0.8s;

    &:hover {
      background: #ebebeb radial-gradient(circle, transparent 1%, #ebebeb 1%) center/15000%;
    }

    &:active {
      background-color: #ebebeb;
      background-size : 100%;
      transition      : background 0s;
    }
  }
}