.app {
  height: 100%;

  &__header {
    height  : 60px;
    width   : 100%;
    position: absolute;
    top     : 0;
    left    : 0;
  }

  &__body {
    height     : 100%;
    padding-top: 60px;
    box-sizing : border-box;
    overflow   : scroll;
  }
}