.add-meal {
  display        : flex;
  flex-flow      : row wrap;
  align-items    : center;
  justify-content: space-between;

  padding: 0.8rem;

  &__input {
    flex        : 2;
    margin-right: 1rem;
  }

  &__actions {
    display    : flex;
    flex-flow  : row wrap;
    align-items: center;

    padding: 0.4rem;

    .actions {

      &__cancel,
      &__submit {
        margin: 0.4rem;
      }
    }
  }
}