@import "styles/mixins/boxShadow.scss";

.meal {
  @include boxShadow(2);

  min-height: 80px;
  overflow  : auto;
  padding   : 0.4rem;

  display        : flex;
  flex-flow      : row wrap;
  justify-content: space-between;
  align-items    : center;

  &__name {
    flex   : 2;
    padding: 0.4rem;
  }

  .actions {
    display  : flex;
    flex-flow: row nowrap;

    &__edit,
    &__delete {
      margin: 0.4rem;
    }
  }
}